#chatgpt-card{
  flex-flow: column;
  position: absolute;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  max-width: 700px;
  Z-index: 12138;
  box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0 0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#chatgpt-card .chatgpt-card-header{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-bottom: 10px;
  font-size: 13px;
}

#chatgpt-card .chatgpt-card-body{
  padding: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 17px;
}

#chatgpt-card .chatgpt-card-footer{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  font-size: 10px;
  margin-top: 10px;
}
